*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F2F2F2;
    --navbar-color: #EAE4D5;
}

body {
    background-image: url(../images/kanekiwp.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

.container {
    border: 2px solid red;
}
